@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700';
$primary-color: #339ACC;
$text-color: #363636;
$text-color2: #96A3B6;
$font-family: 'Roboto', sans-serif;
body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family;
}

*:focus {
    outline: none;
}

.popover{
    font-family: $font-family;
}

.btn-style06{
    font-family: inherit;
    color: $primary-color;
    border-color: $primary-color;
    background-color: rgb(255, 255, 255);
    font-weight: 500;

    &:hover{
        background-color: rgba(20%, 60.4%, 80%, 0.05);
        color: $primary-color;
    }
}

.btn-style07{
    font-family: inherit;
    color: $text-color2;
    border-color: $text-color2;
    background-color: rgb(255, 255, 255);
    font-weight: 500;

    &:hover{
        background-color: rgba(58.8%, 63.9%, 71.4%, 0.05);
        color: $text-color2;
    }
}

.cor-texto-padrao-2{
    color: $text-color;
}

.estilo-padrao{

    .padrao-topo{

        height: 70px;
        line-height: 70px;
        background: #F7F8FB;
        border-bottom: 1px solid #e7ebf3;

        #remover_prontuario{

            &:focus{
                outline: none;
            }
        }

        .breadcrumb{
            padding: 0;
            margin: 0;
            background: none;
            height: 70px;
           
            li{
                height: initial;
                font-size: 17px;

                a{
                    color: $primary-color;
                }

                &.active{
                    color: $text-color;
                }
            }
        }

        .btn-group{
            float: right;
            margin-top: 17px;            
        }
    }

    .padrao-info{
        line-height: 50px;
        height: 50px;
        border-bottom: 1px solid #e7ebf3;
        
        p{
            margin: 0;
            font-size: 15px;
            font-weight: 400;
            color: $text-color2;
        }
    }

    .padrao-conteudo{

        h4{
            margin: 0;
            padding: 0;
        }

        form{
            margin:0;
        }

        .grupo-pront{

            padding: 40px 0;
            color: $text-color;
            border-bottom: 1px solid #e7ebf3;

            textarea{
                resize: vertical;
                -moz-resize: vertical;
            }
            
            h4.title{
                margin: 0;
                font-size: 17px;
                font-weight: 400;
                color: $primary-color;
                margin-bottom: 20px;
                
            }

            .form-group{
                .panel-body{
                    padding: 14px 15px 15px;
                }
            }

            .pront_radio_input{
                margin-right: 10px;
                padding: initial;
                
                & + .pront_radio_input {
                    margin-left: 0;
                }

                input{
                    position: initial;
                    margin: 0;
                    margin-right: 3px;
                }
            }
        }

        .topo-lista-personalizada, .rodape-lista-personalizada{
            width: 100%;
            display: inline-table;
            margin-bottom: 13px;
            font-size: 13px;
            color: $text-color2;
            font-weight: 600;
        }

        .titulo-lista-personalizada{
            font-size: 15px;
            color: $text-color;
            font-weight: 500;

            .info-lista-personalizada{
                font-weight: 400;
                font-size: 13px;
                color: $text-color2;

                ul{
                    padding: 0;
                    margin: 0;
                    list-style-position: inside;

                    li{
                        float: left;
                        padding-left: 9px;

                        &:first-child{
                            padding-left: 0;
                            list-style-type: none;
                        }
                    }
                }
            }
        }

        .acoes-lista-personalizada{
            margin-top: 3px;
        }
    }
}

.prontuario{ }

.paciente{

    .padrao-info{

        .lista-abas{
            display: inline-table;

            li {
                padding: 0;
                margin-right: 20px;

                a{
                    padding: 0 7px;
                    display: block;
                    height: 50px;
                    text-decoration: none;
                    font-size: 15px;
                    font-weight: 400;
                    -moz-outline: 0;
                    outline: 0;
                    color: $text-color2;
                }

                &.active{

                    a{
                        color: $primary-color;
                        border-bottom: 1px solid #339ACC;
                    }

                }
                
                &:last-child{
                    margin-right: 0;
                }
            }
        }

    }

    .padrao-conteudo{

        .padrao-conteudo-section{
            padding: 20px 0;
        }

    }
    
}

.bateria{

    .baterias-lista{
        padding: 30px 0;
    }

}